# H.02 | Introduction to SQL and OLAP

H.02 will serve as a simple introduction to SQL and OLAP. It will cover the basic concepts and provide a foundation for understanding how to work with databases and perform data analysis using SQL. We'll use Snowflake as our database and TPC-H as our dataset.

## Snowflake

Snowflake is a cloud-based data warehousing platform that provides a powerful and flexible environment for storing, processing, and analyzing large volumes of data. It is designed to handle complex data workloads and offers features such as scalability, high performance, and ease of use. Snowflake supports SQL as its primary query language, making it accessible to users familiar with SQL. We will be using Snowflake to demonstrate the concepts of SQL and OLAP.

Please ensure you have the .env file filled out in the root of this folder, it is required to connect to Snowflake.

## TPC-H 

TPC-H is a dataset that simulates a real-world business environment, and has relatively simple schema. It is widely used for testing and comparing the performance of different database systems. We're going to use TPC-H to demonstrate the concepts of SQL and OLAP. The dataset consists of several tables, each representing a different aspect of the business. The tables are related to each other through foreign keys, which allow us to join them together and perform complex queries.

<div style="align: center; justify-content: center; display: flex;">
    <img src="https://docs.snowflake.com/en/_images/sample-data-tpch-schema.png" alt="Snowflake Schema" width="400" height="400" style = "border-radius: 10px">
</div>

## Snowflake Connection

To connect to Snowflake, we will use the `snowflake-connector-python` library. This library provides a simple and efficient way to connect to Snowflake and execute SQL queries. We will also use the `pandas` library to load the data into a DataFrame for easy viewing.

**NOTE**: Snowflake will send you a MFA code when you run the below cell. If it doesn't, make sure you can login on the web interface.

In [ ]:
import sys
sys.path.append('../')
from connection import connect_to_snowflake, as_dataframe
conn = connect_to_snowflake(database="SNOWFLAKE_SAMPLE_DATA", schema="TPCH_SF1")
cursor = conn.cursor()

# Exercise 1 | Basic SQL Practice

This part of the homework will focus on using the Snowflake Connector for Python to connect to a Snowflake database and perform basic operations.

## Exercise 1.1

Retrieve the names and account balances of all customers whose balance is greater than 5000. Limit to 5 rows and order by acctbal (ascending).

You should output a table with **5 rows** that looks like:

| C_NAME | C_ACCTBAL |
| ------- | --------- |
| Customer#000095488 | 5000.09 |
| ... | ... |

In [ ]:
QUERY_CHALLENGE_1 = """
<YOUR SQL QUERY GOES HERE>
"""
cursor.execute(QUERY_CHALLENGE_1)
rows = cursor.fetchall()
print(as_dataframe(rows, cursor).to_string(index=False))

## Exercise 1.2

List orderkey, orderdate, and totalprice with an order date in January 1995. Limit to 5 rows and order by totalprice (descending).

You should output a table with **5 rows** that looks like:

| O_ORDERKEY | O_ORDERDATE | O_TOTALPRICE | 
| ----------- | ----------- | ----------- |
| 2948355 | 1995-01-21 | 469472.71 |
| ... | ... | ... |

In [ ]:
QUERY_CHALLENGE_2 = """
<YOUR SQL QUERY GOES HERE>
"""
cursor.execute(QUERY_CHALLENGE_2)
rows = cursor.fetchall()
print(as_dataframe(rows, cursor).to_string(index=False))

## Exercise 1.3

Find the total number of parts via unique part keys. Rename the count to "count".

You should output a table with **1 rows** that looks like:

| COUNT |
| ----------- |
| 200000 |

In [ ]:
QUERY_CHALLENGE_3 = """
<YOUR SQL QUERY GOES HERE>
"""
cursor.execute(QUERY_CHALLENGE_3)
rows = cursor.fetchall()
print(as_dataframe(rows, cursor).to_string(index=False))

## Exercise 1.4

List the top 5 supplier names and account balances with the highest account balances. Limit to 5 rows in descending order of account balances.

You should output a table with **5 rows** that looks like:

| S_NAME | S_ACCTBAL |
| ----------- | ----------- |
| Supplier#000009450 | 9999.72 |
| ... | ... |

In [ ]:
QUERY_CHALLENGE_4 = """ 
<YOUR SQL QUERY GOES HERE>
"""
cursor.execute(QUERY_CHALLENGE_4)
rows = cursor.fetchall()
print(as_dataframe(rows, cursor).to_string(index=False))

## Exercise 1.5

Calculate the average order price across all orders. Rename the column to `AVG_ORDER_PRICE`.

You should output a table that looks like:
| AVG_ORDER_PRICE |
| ----------- |
| ... |

In [ ]:
QUERY_CHALLENGE_5 = """ 
<YOUR SQL QUERY GOES HERE>
"""
cursor.execute(QUERY_CHALLENGE_5)
rows = cursor.fetchall()
print(as_dataframe(rows, cursor).to_string(index=False))

## Excercise 1.6

Retrieve the p_name and p_partkey of all parts with a name that contains the word "red". Limit to 10 rows and sort by p_partkey (ascending).

You should output a table with **10 rows** that looks like:

| P_NAME | P_PARTKEY |
| ----------- | ----------- |
| honeydew red azure magenta brown   | 47 |
| ... | ... |

In [ ]:
QUERY_CHALLENGE_6 = """ 
<YOUR SQL QUERY GOES HERE>
"""
cursor.execute(QUERY_CHALLENGE_6)
rows = cursor.fetchall()
print(as_dataframe(rows, cursor).to_string(index=False))

## Exercise 1.7

Retrieve the names of customers who have orders with a total price greater than 100,000. Limit to 10 rows and order by c_name.

You should output a table that looks like:

| C_NAME |
| ----------- |
| Customer#000000001 |
| ... |

In [ ]:
QUERY_CHALLENGE_7 = """ 
<YOUR SQL QUERY GOES HERE>
"""
cursor.execute(QUERY_CHALLENGE_7)
rows = cursor.fetchall()
print(as_dataframe(rows, cursor).to_string(index=False))

# Submit

ðŸš¨ **Make sure you save your notebook (with all outputs)** before submitting! This will ensure the most up-to-date version is graded.

In [ ]:
from submit import send_notebook
response = send_notebook("./sql_practice.ipynb")
print(response["response"])